/* standard.css */
{%
Dim responseColourPrimary =CurrentADC.PropValue("responseColourPrimary")
Dim responseColourSecondary =CurrentADC.PropValue("responseColourSecondary")
Dim fontColour =CurrentADC.PropValue("fontColour")
Dim responseShadow =CurrentADC.PropValue("responseShadow")
Dim responseSelectedColourPrimary =CurrentADC.PropValue("responseSelectedColourPrimary")
Dim responseSelectedColourSecondary =CurrentADC.PropValue("responseSelectedColourSecondary")
Dim responseSelectedFontColour =CurrentADC.PropValue("responseSelectedFontColour")
Dim responseSelectedShadow =CurrentADC.PropValue("responseSelectedShadow")

Dim borderColour =CurrentADC.PropValue("borderColour")
Dim borderThickness =CurrentADC.PropValue("borderThickness")
Dim borderStyle =CurrentADC.PropValue("borderStyle")
Dim responseSelectedBorderColour =CurrentADC.PropValue("responseSelectedBorderColour")
Dim responseSelectedBorderThickness =CurrentADC.PropValue("responseSelectedBorderThickness")
Dim responseSelectedBorderStyle =CurrentADC.PropValue("responseSelectedBorderStyle")
Dim borderRadius =CurrentADC.PropValue("borderRadius")

Dim responseTextAlign =CurrentADC.PropValue("responseTextAlign")
Dim responseImagePosition =CurrentADC.PropValue("responseImagePosition")
Dim responseContentPosition =CurrentADC.PropValue("responseContentPosition")
Dim displayResponseText =CurrentADC.PropValue("displayResponseText")

Dim responseHoverColourPrimary =CurrentADC.PropValue("responseHoverColourPrimary")
Dim responseHoverColourSecondary =CurrentADC.PropValue("responseHoverColourSecondary")
Dim responseHoverFontColour =CurrentADC.PropValue("responseHoverFontColour")
Dim responseHoverBorderColour =CurrentADC.PropValue("responseHoverBorderColour")
Dim responseHoverBorderThickness =CurrentADC.PropValue("responseHoverBorderThickness")
Dim responseHoverBorderStyle =CurrentADC.PropValue("responseHoverBorderStyle")
Dim responseHoverShadow =CurrentADC.PropValue("responseHoverShadow")

Dim responseTextPadding =CurrentADC.PropValue("responseTextPadding")
Dim responseTextLineHeight =CurrentADC.PropValue("responseTextLineHeight")

Dim nsResponseColourPrimary =CurrentADC.PropValue("nsResponseColourPrimary")
Dim nsResponseColourSecondary =CurrentADC.PropValue("nsResponseColourSecondary")
Dim nsfontColour =CurrentADC.PropValue("nsfontColour")
Dim nsResponseBorderColour =CurrentADC.PropValue("nsResponseBorderColour")
Dim nsResponseBorderThickness =CurrentADC.PropValue("nsResponseBorderThickness")
Dim nsResponseBorderStyle =CurrentADC.PropValue("nsResponseBorderStyle")
Dim nsResponseShadow =CurrentADC.PropValue("nsResponseShadow")
Dim nsResponseSelectedColourPrimary =CurrentADC.PropValue("nsResponseSelectedColourPrimary")
Dim nsResponseSelectedColourSecondary =CurrentADC.PropValue("nsResponseSelectedColourSecondary")
Dim nsResponseSelectedFontColour =CurrentADC.PropValue("nsResponseSelectedFontColour")
Dim nsResponseSelectedBorderColour =CurrentADC.PropValue("nsResponseSelectedBorderColour")
Dim nsResponseSelectedBorderThickness =CurrentADC.PropValue("nsResponseSelectedBorderThickness")
Dim nsResponseSelectedBorderStyle =CurrentADC.PropValue("nsResponseSelectedBorderStyle")
Dim nsResponseSelectedShadow =CurrentADC.PropValue("nsResponseSelectedShadow")

Dim showResponseHoverColour =CurrentADC.PropValue("showResponseHoverColour")
Dim showResponseHoverFontColour =CurrentADC.PropValue("showResponseHoverFontColour")
Dim showResponseHoverBorder =CurrentADC.PropValue("showResponseHoverBorder")

Dim controlAlign =CurrentADC.PropValue("controlAlign")

Dim rankMoveArrowColour =CurrentADC.PropValue("rankMoveArrowColour")

Dim fontSize =CurrentADC.PropValue("fontSize")
%}

/* General */
#adc_{%= CurrentADC.InstanceId%} {
	text-align:{%= controlAlign%};
}

/* Statements */
#adc_{%= CurrentADC.InstanceId%} .statement 
{   
	
	/* Decoration */
	{% IF CurrentADC.PropValue("borderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= borderThickness%} {%= borderStyle%} rgb({%= borderColour%});
	{% EndIF %}	
	
	background: rgb({%= responseColourPrimary%}); 
	background: -moz-linear-gradient(top,  rgb({%= responseColourPrimary%}) 0%, rgb({%= responseColourSecondary%}) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= responseColourPrimary%})), color-stop(100%,rgb({%= responseColourSecondary%}))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb({%= responseColourPrimary%}) 0%,rgb({%= responseColourSecondary%}) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb({%= responseColourPrimary%}) 0%,rgb({%= responseColourSecondary%}) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb({%= responseColourPrimary%}) 0%,rgb({%= responseColourSecondary%}) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb({%= responseColourPrimary%}) 0%,rgb({%= responseColourSecondary%}) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr={%= responseColourPrimary.ToHexa()%}, endColorstr={%= responseColourSecondary.ToHexa()%},GradientType=0 ); /* IE6-8 */

	
	/* Effects */
	-webkit-border-radius:	{%= borderRadius%}; 
	-moz-border-radius:		{%= borderRadius%}; 
	-khtml-border-radius:	{%= borderRadius%}; 
	border-radius:			{%= borderRadius%};
	
	-webkit-box-shadow: {%= responseShadow%};
	-moz-box-shadow: {%= responseShadow%};
	box-shadow: {%= responseShadow%};
	
	text-align: {%= responseContentPosition%};
}

#adc_{%= CurrentADC.InstanceId%} .statement:hover
{
	/*behavior:url({%= CurrentADC.URLTo("static/PIE.htc") %});
	-pie-track-active:false;*/
	/* Element */
	/*behavior:url({%= ("pie.htc")%});*/
	
	/* Decoration */
	{% IF showResponseHoverBorder = "1" Then %}
		border: {%= responseHoverBorderThickness%} {%= responseHoverBorderStyle%} rgb({%= responseHoverBorderColour%}) !important;
	{% Else %}
		border: {%= borderThickness%} {%= borderStyle%} rgb({%= borderColour%}) !important;
	{% EndIF %}
	{% IF showResponseHoverColour = "1" Then %}
		background: rgb({%= responseHoverColourPrimary%}) !important;
		background: -moz-linear-gradient(top,  rgb({%= responseHoverColourPrimary%}) 0%, rgb({%= responseHoverColourSecondary%}) 100%) !important; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= responseHoverColourPrimary%})), color-stop(100%,rgb({%= responseHoverColourSecondary%}))) !important; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgb({%= responseHoverColourPrimary%}) 0%,rgb({%= responseHoverColourSecondary%}) 100%) !important; /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgb({%= responseHoverColourPrimary%}) 0%,rgb({%= responseHoverColourSecondary%}) 100%) !important; /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgb({%= responseHoverColourPrimary%}) 0%,rgb({%= responseHoverColourSecondary%}) 100%) !important; /* IE10+ */
		background: linear-gradient(to bottom,  rgb({%= responseHoverColourPrimary%}) 0%,rgb({%= responseHoverColourSecondary%}) 100%) !important; /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{%= responseHoverColourPrimary.ToHexa()%}', endColorstr='{%= responseHoverColourSecondary.ToHexa()%}',GradientType=0 ) !important; /* IE6-8 */
	{% EndIF %}
	-webkit-box-shadow: {%= responseHoverShadow%};
	-moz-box-shadow: {%= responseHoverShadow%};
	box-shadow: {%= responseHoverShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .statement img
{  
	float:{%= responseImagePosition%};
}

#adc_{%= CurrentADC.InstanceId%} .statement_text 
{ 
	font-size:{%= fontSize%};
	display:{%= displayResponseText%};
	text-align:{%= responseTextAlign%};
	color:rgb({%= fontColour%});
	padding:{%= responseTextPadding%};
	line-height:{%= responseTextLineHeight%};
}

#adc_{%= CurrentADC.InstanceId%} .statement:hover .statement_text, #adc_{%= CurrentADC.InstanceId%} .statement:hover .rank_text 
{ 
	{% IF showResponseHoverFontColour = "1" Then %}
		color:rgb({%= responseHoverFontColour%}) !important;
	{% EndIF %}
}

#adc_{%= CurrentADC.InstanceId%} .statement.ranked 
{
	/*behavior:url({%= CurrentADC.URLTo("static/PIE.htc") %});
	-pie-track-active:false;*/
    /* Decoration */
	{% IF CurrentADC.PropValue("responseSelectedBorderThickness") = "none" Then %}
		border: none !important;
	{% Else %}
		border: {%= responseSelectedBorderThickness%} {%= responseSelectedBorderStyle%} rgb({%= responseSelectedBorderColour%}) !important;
	{% EndIF %}	
	background: rgb({%= responseSelectedColourPrimary%}) !important;
	background: -moz-linear-gradient(top,  rgb({%= responseSelectedColourPrimary%}) 0%, rgb({%= ResponseSelectedColourSecondary%}) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= responseSelectedColourPrimary%})), color-stop(100%,rgb({%= ResponseSelectedColourSecondary%}))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb({%= responseSelectedColourPrimary%}) 0%,rgb({%= ResponseSelectedColourSecondary%}) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb({%= responseSelectedColourPrimary%}) 0%,rgb({%= ResponseSelectedColourSecondary%}) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb({%= responseSelectedColourPrimary%}) 0%,rgb({%= ResponseSelectedColourSecondary%}) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  rgb({%= responseSelectedColourPrimary%}) 0%,rgb({%= ResponseSelectedColourSecondary%}) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{%= responseSelectedColourPrimary.ToHexa()%}', endColorstr='{%= ResponseSelectedColourSecondary.ToHexa()%}',GradientType=0 ) !important; /* IE6-8 */
	
	-webkit-box-shadow: {%= responseSelectedShadow%} !important;
	-moz-box-shadow: {%= responseSelectedShadow%} !important;
	box-shadow: {%= responseSelectedShadow%} !important;
}

#adc_{%= CurrentADC.InstanceId%} .rank_text 
{
    /* Element */
    display:inline-block;
    float:right;
    margin:0px 0px 0px 0px;
	padding:{%= responseTextPadding%};
	width:15px;
	
    /* Typo */
    color: rgb({%=responseSelectedFontColour%}) ;
    font-size:{%= fontSize%};
    font-weight:bold;
}

#adc_{%= CurrentADC.InstanceId%} .statement.ranked .statement_text, #adc_{%= CurrentADC.InstanceId%} .statement.ranked .rank_text 
{
	font-size:{%= fontSize%} !important;
    color:rgb({%=responseSelectedFontColour%}) !important; 
}

/* Non Scaled Reponses */
#adc_{%= CurrentADC.InstanceId%} .ns 
{   
	
	/* Decoration */
	{% IF CurrentADC.PropValue("nsResponseBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= nsResponseBorderThickness%} {%= nsResponseBorderStyle%} rgb({%= nsResponseBorderColour%});
	{% EndIF %}	
	background: rgb({%= nsResponseColourPrimary%}); 
	background: -moz-linear-gradient(top,  rgb({%= nsResponseColourPrimary%}) 0%, rgb({%= nsResponseColourSecondary%}) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= nsResponseColourPrimary%})), color-stop(100%,rgb({%= nsResponseColourSecondary%}))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb({%= nsResponseColourPrimary%}) 0%,rgb({%= nsResponseColourSecondary%}) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb({%= nsResponseColourPrimary%}) 0%,rgb({%= nsResponseColourSecondary%}) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb({%= nsResponseColourPrimary%}) 0%,rgb({%= nsResponseColourSecondary%}) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb({%= nsResponseColourPrimary%}) 0%,rgb({%= nsResponseColourSecondary%}) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{%= nsResponseColourPrimary.ToHexa()%}', endColorstr='{%= nsResponseColourSecondary.ToHexa()%}',GradientType=0 ); /* IE6-8 */
	
	/* Effects */
	-webkit-border-radius:	{%= borderRadius%}; 
	-moz-border-radius:		{%= borderRadius%}; 
	-khtml-border-radius:	{%= borderRadius%}; 
	border-radius:			{%= borderRadius%};
	
	-webkit-box-shadow: {%= nsResponseShadow%};
	-moz-box-shadow: {%= nsResponseShadow%};
	box-shadow: {%= nsResponseShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .ns .statement_text 
{ 
	display:block;
	font-size:{%= fontSize%};
	color:rgb({%= nsfontColour%});
}

#adc_{%= CurrentADC.InstanceId%} .ns.ranked 
{	
    /* Decoration */	
	{% IF CurrentADC.PropValue("nsResponseSelectedBorderThickness") = "none" Then %}
		border: none !important;
	{% Else %}
		border: {%= nsResponseSelectedBorderThickness%} {%= nsResponseSelectedBorderStyle%} rgb({%= nsResponseSelectedBorderColour%}) !important;
	{% EndIF %}	
	background: rgb({%= nsResponseSelectedColourPrimary%}) !important; 
	background: -moz-linear-gradient(top,  rgb({%= nsResponseSelectedColourPrimary%}) 0%, rgb({%= nsResponseSelectedColourSecondary%}) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= nsResponseSelectedColourPrimary%})), color-stop(100%,rgb({%= nsResponseSelectedColourSecondary%}))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb({%= nsResponseSelectedColourPrimary%}) 0%,rgb({%= nsResponseSelectedColourSecondary%}) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb({%= nsResponseSelectedColourPrimary%}) 0%,rgb({%= nsResponseSelectedColourSecondary%}) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb({%= nsResponseSelectedColourPrimary%}) 0%,rgb({%= nsResponseSelectedColourSecondary%}) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  rgb({%= nsResponseSelectedColourPrimary%}) 0%,rgb({%= nsResponseSelectedColourSecondary%}) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{%= nsResponseSelectedColourPrimary.ToHexa()%}', endColorstr='{%= nsResponseSelectedColourSecondary.ToHexa()%}',GradientType=0 ) !important; /* IE6-8 */
	
	-webkit-box-shadow: {%= nsResponseSelectedShadow%} !important;
	-moz-box-shadow: {%= nsResponseSelectedShadow%} !important;
	box-shadow: {%= nsResponseSelectedShadow%} !important;
}

#adc_{%= CurrentADC.InstanceId%} .ns.ranked .statement_text 
{
    color:rgb({%= nsResponseSelectedFontColour%}) !important;
}

#adc_{%= CurrentADC.InstanceId%} .upRank, #adc_{%= CurrentADC.InstanceId%} .downRank { background-position:{%= rankMoveArrowColour%}; }